#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.articleHome {
  border: solid black;
  background: rgb(174, 4, 4);
  color: white;
  }
  
.header {
  border: solid black;
  background: rgb(174, 4, 4);
  color: white;
  }

  ul{
    list-style-type: none;
  }

  .hidden{
    visibility: hidden;
  }

  .not-hidden{
    color: red;
  }

  .flatlist{
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .topicList{
    padding: 20;
    border-width: 20;
    padding: 0.6em 1.2em;
    padding-top: 0
  }