#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.articleHome {
  border: solid black;
  background: rgb(174, 4, 4);
  color: white;
  }
  
.header {
  border: solid black;
  background: rgb(174, 4, 4);
  color: white;
  }

  ul{
    list-style-type: none;
  }